body{
  background-color:   #FFEFD5;
}

h1{
    padding-left: 110px;
    padding-top: 30px;
}

p{
  padding-left: 30px;
}

.container{
  background-color:#F08080;
  height: auto;
  weight:450px;
  margin-left: 400px;
  margin-right: 450px;
  margin-top: 65px;
  padding-left: 30px;
}

#weight-guide{
    margin-top: 25px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-left: 22px;
}

#height, #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
}

#result{
    font-size: 35px;
    margin-left: 40px;
    margin-top: 20px;
    color: #4B0082;
}

button{
	background-color: #80ffaa;
	justify-content: center;
  margin-left: 120px;
  margin-top: 25px;
	font-size:22px;
	width: 150px;
	height: 40px;
}

button:hover {
  background-color: #006622;
  color: white;
  box-shadow: 0 6px 6px 0 gray, 0 6px 6px 0 gray;
}
